USE [master]
GO
/****** Object:  Database [DBCatalogo]    Script Date: 1/29/2025 10:45:16 PM ******/
CREATE DATABASE [DBCatalogo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBCatalogo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBCatalogo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBCatalogo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBCatalogo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBCatalogo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBCatalogo]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[DescCategoria] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opcion]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opcion](
	[IdOpcion] [int] IDENTITY(1,1) NOT NULL,
	[NombreOpcion] [varchar](50) NULL,
	[UrlOpcion] [varchar](50) NULL,
	[RutaImagen] [varchar](50) NULL,
	[NroOrden] [int] NULL,
	[IdOpcionRef] [int] NULL,
 CONSTRAINT [PK_Opcion] PRIMARY KEY CLUSTERED 
(
	[IdOpcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[NomProducto] [varchar](120) NOT NULL,
	[MarcaProducto] [varchar](120) NOT NULL,
	[ModeloProducto] [varchar](120) NOT NULL,
	[LineaProducto] [varchar](120) NOT NULL,
	[GarantiaProducto] [varchar](50) NULL,
	[Precio] [decimal](18, 2) NULL,
	[Imagen] [varbinary](max) NULL,
	[DescripcionTecnica] [text] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[DesRol] [varchar](80) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[IdProducto] [int] NOT NULL,
	[StockItems] [int] NOT NULL,
	[PuntoRepo] [int] NULL,
	[PrecioVenta] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[CodUsuario] [varchar](50) NOT NULL,
	[Clave] [binary](50) NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[IdRol] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosApi]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosApi](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[Clave] [varchar](80) NOT NULL,
	[Nombre] [varchar](160) NOT NULL,
	[Rol] [varchar](80) NOT NULL,
 CONSTRAINT [PK_UsuariosApi] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [DescCategoria]) VALUES (1, N'Generadores')
INSERT [dbo].[Categoria] ([IdCategoria], [DescCategoria]) VALUES (2, N'Descargadores')
INSERT [dbo].[Categoria] ([IdCategoria], [DescCategoria]) VALUES (3, N'Transformadotres')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Opcion] ON 

INSERT [dbo].[Opcion] ([IdOpcion], [NombreOpcion], [UrlOpcion], [RutaImagen], [NroOrden], [IdOpcionRef]) VALUES (1, N'Mantenimiento', N'#', N'fa fa-envelope-o', 1, 0)
INSERT [dbo].[Opcion] ([IdOpcion], [NombreOpcion], [UrlOpcion], [RutaImagen], [NroOrden], [IdOpcionRef]) VALUES (2, N'Productos', N'Producto/Index', N'fa fa-envelope-o', 1, 1)
INSERT [dbo].[Opcion] ([IdOpcion], [NombreOpcion], [UrlOpcion], [RutaImagen], [NroOrden], [IdOpcionRef]) VALUES (3, N'Vendedor', N'Vendedor/Index', N'fa fa-envelope-o', 2, 1)
SET IDENTITY_INSERT [dbo].[Opcion] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [IdCategoria], [NomProducto], [MarcaProducto], [ModeloProducto], [LineaProducto], [GarantiaProducto], [Precio], [Imagen], [DescripcionTecnica]) VALUES (3, 1, N'IE3 MOTORS', N'ABB -Motores', N'Motor IE3', N'Motor a Explosion', N'6 Años', CAST(20000.00 AS Decimal(18, 2)), NULL, N'ABB, the leading power and automation technology group, is expanding its range of low voltage cast iron IE3 motors for explosive atmospheres with the introduction of new mid-range products')
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [DesRol]) VALUES (1, N'Supervisor Grupo 01')
INSERT [dbo].[Rol] ([IdRol], [DesRol]) VALUES (2, N'Vendedor Grupo 01')
INSERT [dbo].[Rol] ([IdRol], [DesRol]) VALUES (3, N'Supervisor Grupo 02')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
INSERT [dbo].[Stock] ([IdProducto], [StockItems], [PuntoRepo], [PrecioVenta]) VALUES (2, 80, 20, CAST(30000.00 AS Decimal(18, 2)))
INSERT [dbo].[Stock] ([IdProducto], [StockItems], [PuntoRepo], [PrecioVenta]) VALUES (3, 100, 20, CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[Stock] ([IdProducto], [StockItems], [PuntoRepo], [PrecioVenta]) VALUES (4, 90, 10, CAST(40000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [CodUsuario], [Clave], [Nombres], [IdRol]) VALUES (1, N'despinoza', 0x7A00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000, N'Espinoza Robles Armando', 1)
INSERT [dbo].[Usuario] ([IdUsuario], [CodUsuario], [Clave], [Nombres], [IdRol]) VALUES (3, N'ggutierrez', 0x7A00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000, N'gladys gutierrez', 3)
INSERT [dbo].[Usuario] ([IdUsuario], [CodUsuario], [Clave], [Nombres], [IdRol]) VALUES (4, N'jayquipa', 0x7A00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000, N'julia Ayquipa', 2)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuariosApi] ON 

INSERT [dbo].[UsuariosApi] ([Codigo], [UserName], [Clave], [Nombre], [Rol]) VALUES (1, N'jayquipa', N'xyz1234', N'sample string 4', N'sample string 5')
INSERT [dbo].[UsuariosApi] ([Codigo], [UserName], [Clave], [Nombre], [Rol]) VALUES (2, N'ggutierrez', N'abc1234', N'Gladys Gutierrez', N'Admin')
SET IDENTITY_INSERT [dbo].[UsuariosApi] OFF
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Producto]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol1] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol1]
GO
/****** Object:  StoredProcedure [dbo].[ListarRol]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarRol]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT IdRol, DesRol from Rol 
END
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuarios]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ListarUsuarios] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT IdUsuario, CodUsuario, Clave, Nombres, u.IdRol, r.DesRol from Usuario u, Rol r
	where u.IdRol = r.IdRol
END


GO
/****** Object:  StoredProcedure [dbo].[paActualizarProducto]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[paActualizarProducto]
    @IdProducto int,
    @IdCategoria int,
    @NomProducto varchar(120),
    @MarcaProducto varchar(120),
    @ModeloProducto varchar(120),
    @LineaProducto varchar(120),
    @GarantiaProducto varchar(50),
    @Precio decimal(18,2),
    @Imagen image,
    @DescripcionTecnica text
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Verificar si el producto existe
        IF NOT EXISTS (SELECT 1 FROM Producto WHERE IdProducto = @IdProducto)
        BEGIN
            RAISERROR('El producto especificado no existe.', 16, 1)
            RETURN 0
        END

        -- Verificar si la categoría existe
        IF NOT EXISTS (SELECT 1 FROM Categoria WHERE IdCategoria = @IdCategoria)
        BEGIN
            RAISERROR('La categoría especificada no existe.', 16, 1)
            RETURN 0
        END

        UPDATE Producto
        SET IdCategoria = @IdCategoria,
            NomProducto = @NomProducto,
            MarcaProducto = @MarcaProducto,
            ModeloProducto = @ModeloProducto,
            LineaProducto = @LineaProducto,
            GarantiaProducto = @GarantiaProducto,
            Precio = @Precio,
            Imagen = @Imagen,
            DescripcionTecnica = @DescripcionTecnica
        WHERE IdProducto = @IdProducto
        
        RETURN 1
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
        RETURN 0
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[paEliminarProducto]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Eliminar un producto
CREATE PROCEDURE [dbo].[paEliminarProducto]
    @IdProducto int
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION
            -- Primero eliminamos el registro en la tabla Stock si existe
            IF EXISTS (SELECT 1 FROM Stock WHERE IdProducto = @IdProducto)
            BEGIN
                DELETE FROM Stock WHERE IdProducto = @IdProducto
            END
            
            -- Luego eliminamos el producto
            DELETE FROM Producto WHERE IdProducto = @IdProducto
            
        COMMIT TRANSACTION
        RETURN 1
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
            
        -- Puedes agregar logging del error aquí si lo deseas
        -- SELECT ERROR_MESSAGE() AS ErrorMessage
        
        RETURN 0
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[paInsertarProducto]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[paInsertarProducto]
    @IdCategoria int,
    @NomProducto varchar(120),
    @MarcaProducto varchar(120),
    @ModeloProducto varchar(120),
    @LineaProducto varchar(120),
    @GarantiaProducto varchar(50),
    @Precio decimal(18,2),
    @Imagen image,
    @DescripcionTecnica text,
    @IdProducto int OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        INSERT INTO Producto (IdCategoria, NomProducto, MarcaProducto, ModeloProducto, LineaProducto, 
                             GarantiaProducto, Precio, Imagen, DescripcionTecnica)
        VALUES (@IdCategoria, @NomProducto, @MarcaProducto, @ModeloProducto, @LineaProducto,
                @GarantiaProducto, @Precio, @Imagen, @DescripcionTecnica)
        
        SET @IdProducto = SCOPE_IDENTITY()
        RETURN 1
    END TRY
    BEGIN CATCH
        RETURN 0
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[paListarCategorias]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[paListarCategorias] 
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdCategoria, DescCategoria 
    FROM Categoria
END
GO
/****** Object:  StoredProcedure [dbo].[paListarProductos]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[paListarProductos] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [IdProducto], p.[IdCategoria],[DescCategoria],[NomProducto] , [MarcaProducto],
	[ModeloProducto],[LineaProducto],[GarantiaProducto],[Precio],[Imagen],[DescripcionTecnica]
	from Producto p, Categoria c
	where p.IdCategoria = c.IdCategoria
END



GO
/****** Object:  StoredProcedure [dbo].[paObtenerProducto]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener un producto específico
CREATE PROCEDURE [dbo].[paObtenerProducto]
    @IdProducto int
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT p.IdProducto, p.IdCategoria, c.DescCategoria, p.NomProducto, p.MarcaProducto,
           p.ModeloProducto, p.LineaProducto, p.GarantiaProducto, p.Precio, p.Imagen, p.DescripcionTecnica
    FROM Producto p
    INNER JOIN Categoria c ON p.IdCategoria = c.IdCategoria
    WHERE p.IdProducto = @IdProducto
END
GO
/****** Object:  StoredProcedure [dbo].[paOpcionLista]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[paOpcionLista] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [IdOpcion],[NombreOpcion] , [UrlOpcion], [RutaImagen],[NroOrden],[IdOpcionRef] from Opcion
END




GO
/****** Object:  StoredProcedure [dbo].[paUsuario_BuscaCodUserClave]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[paUsuario_BuscaCodUserClave] 
	-- Add the parameters for the stored procedure here
	@Clave binary,
	@CodUsuario varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT IdUsuario,CodUsuario,Nombres From Usuario
	Where CodUsuario = @CodUsuario and Clave = @Clave
END


GO
/****** Object:  StoredProcedure [dbo].[paUsuario_BuscaUserId]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[paUsuario_BuscaUserId] 
	-- Add the parameters for the stored procedure here
	@ParamUsuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT IdUsuario,CodUsuario,Nombres,u.IdRol,DesRol From Usuario u, Rol r
	Where u.IdRol= r.IdRol and  IdUsuario = @ParamUsuario 
END


GO
/****** Object:  StoredProcedure [dbo].[paUsuario_Eliminar]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure para eliminar usuario
CREATE PROCEDURE [dbo].[paUsuario_Eliminar]
    @IdUsuario int
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM Usuario WHERE IdUsuario = @IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[paUsuario_insertar]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[paUsuario_insertar]
	@Clave binary,
	@CodUsuario varchar(50), 
	@Nombres varchar(50),
	@IdRol int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Insert into Usuario (CodUsuario, Clave,Nombres,IdRol)
	Values (@CodUsuario, @Clave, @Nombres,@IdRol)
END


GO
/****** Object:  StoredProcedure [dbo].[paUsuario_Modificar]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[paUsuario_Modificar]
	-- Add the parameters for the stored procedure here
	@IdUsuario int,
	@CodUsuario Varchar(50) ,
	@Clave binary, 
	@Nombres Varchar(80),
	@IdRol int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update Usuario
	set
		CodUsuario=@CodUsuario,
		Clave = @Clave,
		Nombres=@Nombres,
		IdRol =@IdRol
	Where IdUsuario =@IdUsuario
END


GO
/****** Object:  StoredProcedure [dbo].[users_UsuarioApi]    Script Date: 1/29/2025 10:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[users_UsuarioApi]
    @UserName varchar(20),
    @Clave varchar(80)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT Codigo, 
           UserName, 
           Clave, 
           Nombre, 
           Rol
    FROM UsuariosApi
    WHERE UserName = @UserName 
    AND Clave = @Clave;
END
GO
USE [master]
GO
